<h1> <%= @list.name %> </h1>

<%= link_to "Delete List",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Create New List", new_list_bookmark_path(@list), class: "" %>

<div class="container">

  <div class="d-flex justify-content-between">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card rounded-lg p-2 mx-2">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.movie.rating %>/5 ⭐️</p>
      <p><%= bookmark.movie.overview %></p>
      <img src="<%= bookmark.movie.poster_url %>" alt="Poster" width="150px">
      <div>
        <i class="fa-solid fa-quote-left"></i>
        <span class="font-italic"><%= bookmark.comment %></span>
      </div>
      <div>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>


    </div>
  <% end %>

</div>
</div>
